*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}
header{
    width: 100%;
    height: 10%;
}
main{
    width: 100%;
    height: 80%;
}
footer{
    width: 100%;
    height: 10%;
}

.navbar{
    height: 5rem;
    width: 100%;
}
.logo{
    width: 6rem;
    height: 4rem;
}
.icon{
    height: 4rem;
    width: 4rem;
}